@tailwind base;
@tailwind components;
@tailwind utilities;
.inputR{
    background-image: url(/src/assets/img/input.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    
}
@font-face {
    font-family: anjoman;
    src: url("../src/assets/font/ANJOMAN-MEDIUM.TTF");
}
@font-face {
    font-family:wmajik;
    src: url("./assets/font/W_majik.ttf");
}
.anjoman{
    font-family:anjoman ;
}
.wmajik{
    font-family: wmajik;
}